@media (max-width: 1919px) {
  .container {
    max-width: 1024px;
    padding: 0 50px;
  }
  .header-svg {
    margin-bottom: 24px;
  }
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 32px;
    padding-bottom: 24px;
  }
  .header_card:not(:last-child) {
    margin-right: 96px;
  }
  .header_search {
    position: absolute;
    right: 50px;
  }
  /* main */
  .main_block {
    padding-top: 101px;
    padding-bottom: 101px;
  }
  .main_p {
    margin-bottom: 133px;
  }
  /* about */
  .about_p {
    max-width: 925px;
  }
  /* gallery */
  .gallery_h2 {
    margin-bottom: 16px;
  }
  .gallery_left {
    margin-bottom: 20px;
  }
  .gallery_block {
    flex-direction: column;
  }
  .gallery_img {
    max-width: 275px;
  }
  /* catalog */
  .catalog_p {
    max-width: 925px;
    margin: 0;
  }
  .catalog_p:not(:last-child) {
    margin-bottom: 50px;
  }
  .catalog_img {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
  }
  .catalog_text {
    padding: 0;
    max-width: 925px;
  }
  .catalog_card {
    display: flex;
    flex-direction: column;
    max-width: 925px;
  }
  .catalog_card:not(:last-child) {
    margin-bottom: 0px;
  }
  /* event */

  .event_card:not(:last-child) {
    margin-right: 27px;
  }
  .event_card {
    max-width: 290px;
    padding: 184px 34px 49px 34px;
    max-height: 683px;
  }
  .event_date {
    text-align: right;
  }
  .event_h3 {
    margin-bottom: 5px;
  }
  .event_p {
    margin-bottom: 57px;
  }
  .event_h3 {
    max-width: 200px;
  }
  /* project */
  .project_p {
    max-width: 924px;
  }
  /* contact */
  .contact {
    flex-direction: column;
    align-items: flex-start;
  }
  .contact_p {
    padding-bottom: 0;
    margin-bottom: 30px;
  }
  /* footer */
  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
    align-items: baseline;
    max-width: 925px;
    margin: 0;
  }
  .footer_contact {
    margin: 0;
    position: absolute;
    right: 50px;
  }

}
/* @media (max-width: 1023px) {
  .container {
    max-width: 668px;
    padding: 0 50px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 925px;
    padding: 0 15px;
  }
} */
